absl-py
async-generator
attrs
bing-image-downloader
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
colorama
comtypes
cryptography
cycler
cymem
docopt
dxcam
fastai
fastcore
fastdownload
fastprogress
fonttools
google-auth
google-auth-oauthlib
google-images-download
grpcio
h11
idna
importlib-metadata
ipython
Jinja2
joblib
keyboard
kiwisolver
langcodes
Markdown
MarkupSafe
matplotlib
MouseInfo
mss
murmurhash
np
numpy
opencv-python
outcome
packaging
pandas
pathy
pep517
Pillow
pip-tools
pipreqs
preshed
progressbar
protobuf
psycopg2
psycopg2-binary
psycopg2-pool
psycopg2-adapter
psycopg2-extras
psycopg2-tasks
pyaml
pyasn1
pyasn1-modules
pycparser
PyAutoGUI
PyDirectInput
pydantic
PyGetWindow
pygame
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
PyRect
pyreqs
PyScreeze
PySocks
PySimpleGUI
python-dateutil
python-magic-bin
pytesseract
pytweening
pytz
pywin32
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
selenium
serial
sh
simple-image-download
six
smart-open
sniffio
sortedcontainers
spacy
spacy-legacy
spacy-loggers
srsly
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
thinc
thop
threadpoolctl
torch
torchvision
tqdm
trio
trio-websocket
typer
typing_extensions
urllib3
wasabi
Werkzeug
wheel
wincertstore
wsproto
yarg
zipp
